/* Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Global */
body {
  display: flex;
  justify-content: center;

  background-color: #fff2de;

  font-family: "Roboto", Helvetica, sans-serif;
}

.global-wrapper {
  padding: 0 5px 0;
}

button,
.length-slider {
  -webkit-tap-highlight-color: transparent;
}

/* Header */
header {
  margin-bottom: 30px;
}

header > * {
  text-align: center;
}

.main-heading {
  margin-bottom: 10px;

  font-size: clamp(35px, 2.5rem, 40px);
  font-weight: 900;
}

.tagline {
  font-size: clamp(11.9px, 0.85rem, 13.6px);
  font-weight: 500;
}

@media screen and (min-width: 225px) {
  .main-heading {
    font-size: clamp(38.5px, 2.75rem, 46.75px);
  }
}

@media screen and (min-width: 250px) {
  .main-heading {
    font-size: clamp(48.75px, 3.25rem, 52px);
  }

  .tagline {
    font-size: clamp(14.25px, 0.95rem, 15.2px);
  }
}

@media screen and (min-width: 290px) {
  .main-heading {
    font-size: clamp(52.5px, 3.5rem, 59.5px);
  }

  .tagline {
    font-size: clamp(16px, 1rem, 18px);
  }
}

@media screen and (min-width: 325px) {
  .main-heading {
    font-size: clamp(52.5px, 3.75rem, 67.5px);
  }

  .tagline {
    font-size: clamp(17.856px, 1.116rem, 20.088px);
  }
}

@media screen and (min-width: 350px) {
  .main-heading {
    font-size: clamp(56px, 4rem, 68px);
  }

  .tagline {
    font-size: clamp(20px, 1.25rem, 21.25px);
  }
}

@media screen and (min-width: 400px) {
  header {
    margin-bottom: 50px;
  }

  .main-heading {
    font-size: clamp(67.5px, 4.5rem, 85.5px);
  }
}

@media screen and (min-width: 435px) {
  header {
    margin-top: 20px;
  }

  .main-heading {
    font-size: clamp(41.25px, 2.75rem, 44px);
  }

  .tagline {
    font-size: clamp(14.3px, 1.1rem, 17.6px);
  }
}

@media screen and (min-width: 480px) {
  .tagline {
    font-size: clamp(18px, 1.2rem, 19.2px);
  }
}

@media screen and (min-width: 525px) {
  .main-heading {
    font-size: clamp(49px, 3.5rem, 56px);
  }

  .tagline span {
    display: block;
  }
}

@media screen and (min-width: 700px) {
  header {
    margin-top: 60px;
  }

  .main-heading {
    font-size: clamp(59.5px, 4.25rem, 72.25px);
  }

  .tagline {
    font-size: clamp(16.25px, 1.25rem, 22.5px);
  }
}

@media screen and (min-width: 1100px) {
  header {
    margin-bottom: 60px;
  }

  .main-heading {
    font-size: clamp(55.25px, 4.25rem, 76.5px);
  }

  .tagline {
    font-size: clamp(13.75px, 1.25rem, 22.5px);
  }

  .tagline span {
    display: inline;
  }
}

/* PasswordGenerator */
main {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 800px;
  margin: 0 auto;
}

.display-container,
.strength-container,
.configuration-options-container {
  width: 95vw;
  max-width: 620px;
}

.display-container,
.configuration-options-container {
  border-radius: 5px;
}

.display-container,
.meter-container,
.configuration-options-container {
  background-color: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

@media screen and (min-width: 525px) and (max-width: 699px) {
  .display-container,
  .strength-container,
  .configuration-options-container {
    max-width: 508px;
  }
}

/* Display */
.display-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 10px;
  margin-bottom: 20px;

  background-color: white;
}

@media screen and (min-width: 700px) {
  .display-container {
    margin-bottom: 30px;
  }
}

output {
  overflow: hidden;

  font-size: 1.4rem;
  font-size: clamp(18.2px, 1.4rem, 30.8px);
}

@media screen and (min-width: 400px) {
  output {
    font-size: clamp(21px, 1.75rem, 40.25px);
  }
}

.action-buttons-container {
  display: flex;
  align-items: center;

  font-size: 0px;
}

button {
  border: transparent;
  border-radius: 2px;

  background-color: white;

  cursor: pointer;
}

button:focus-visible {
  outline: solid 2px black;
}

.regenerate-button {
  margin-right: 2px;
}

.regenerate-button svg {
  width: 32px;
  height: 32px;

  transition: transform 1s ease;

  stroke: #2c3e50;
}

.copy-button {
  transition: transform 0.1s ease;
}

.copy-button:active {
  transform: translateY(2px);
}

.copy-button svg {
  width: 24px;
  height: 24px;

  fill: #2c3e50;
}

@media screen and (min-width: 300px) {
  .regenerate-button svg {
    width: 40px;
    height: 40px;
  }

  .copy-button svg {
    width: 30px;
    height: 30px;
  }
}

/* Strength */
.strength-container {
  margin-bottom: 50px;
}

.strength-header {
  margin-bottom: 5px;

  font-size: clamp(14px, 1rem, 20px);
  font-weight: 700;
}

.strength-text {
  font-size: clamp(15.4px, 1.1rem, 22px);
  font-weight: 900;
}

@media screen and (min-width: 250px) {
  .strength-header {
    font-size: clamp(16.5px, 1.1rem, 22px);
  }

  .strength-text {
    font-size: clamp(18px, 1.2rem, 24px);
  }
}

@media screen and (min-width: 525px) {
  .strength-header {
    font-size: clamp(18.2px, 1.3rem, 24.7px);
  }

  .strength-text {
    font-size: clamp(19.6px, 1.4rem, 26.6px);
  }
}

@media screen and (min-width: 700px) {
  .strength-header {
    font-size: clamp(18.2px, 1.4rem, 26.6px);
  }

  .strength-text {
    font-size: clamp(19.5px, 1.5rem, 28.5px);
  }
}

.meter-container {
  width: 100%;
  height: 20px;
  border-radius: 12px;

  overflow: hidden;
}

.meter {
  height: 100%;
  border-radius: 12px;

  transition: width 0.5s ease;
}

.meter[strength="0"] {
  width: 10%;
  background: rgba(219, 0, 0, 0.8);
}

.meter[strength="1"] {
  width: 25%;
  background: rgba(253, 0, 0, 0.8);
}

.meter[strength="2"] {
  width: 50%;
  background: rgba(245, 245, 0, 0.7);
}

.meter[strength="3"] {
  width: 75%;
  background: rgba(0, 172, 0, 0.9);
}

.meter[strength="4"] {
  width: 102%;
  background: rgba(0, 105, 0, 0.9);
}

/* Configuration */
.configuration-options-container {
  padding-top: 20px;
}

.configuration-header {
  margin-bottom: 5px;

  font-size: 1.5rem;
  font-weight: 700;
}

/* Length */
.length-container {
  display: flex;
  align-items: center;

  margin-left: 10px;
  margin-right: 10px;
}

.length-input {
  width: 55px;
  height: 40px;
  padding-left: 4px;
  border-radius: 5px;
  border-color: black;
  margin-right: 5px;

  font-size: clamp(13px, 1rem, 18px);
}

@media screen and (min-width: 400px) {
  .length-input {
    font-size: clamp(15.4px, 1.1rem, 19.8px);
  }
}

.length-input:focus-visible {
  outline: solid 2px black;
  outline-offset: -1px;
}

.length-slider {
  width: 100%;
  height: 10px;
  border-radius: 10px;

  appearance: none;
  -webkit-appearance: none;

  cursor: pointer;
}

.length-slider::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: #f97316;

  appearance: none;
  -webkit-appearance: none;
}

.length-slider:focus {
  outline: none;
}

.length-slider:focus-visible::-webkit-slider-thumb {
  outline: 3px solid black;
}
