/* Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Global */
body {
  display: flex;
  justify-content: center;

  background-color: #fff2de;

  font-family: "Roboto", Helvetica, sans-serif;
}

.global-wrapper {
  padding: 0 5px 0;
}

button,
.length-slider,
label {
  -webkit-tap-highlight-color: transparent;
}

/* Header */
header {
  margin-bottom: 30px;
}

header > * {
  text-align: center;
}

.main-heading {
  margin-bottom: 10px;

  font-size: clamp(35px, 2.5rem, 40px);
  font-weight: 900;
}

.tagline {
  font-size: clamp(11.9px, 0.85rem, 13.6px);
  font-weight: 500;
}

@media screen and (min-width: 225px) {
  .main-heading {
    font-size: clamp(38.5px, 2.75rem, 46.75px);
  }
}

@media screen and (min-width: 250px) {
  .main-heading {
    font-size: clamp(48.75px, 3.25rem, 52px);
  }

  .tagline {
    font-size: clamp(14.25px, 0.95rem, 15.2px);
  }
}

@media screen and (min-width: 290px) {
  .main-heading {
    font-size: clamp(52.5px, 3.5rem, 59.5px);
  }

  .tagline {
    font-size: clamp(16px, 1rem, 18px);
  }
}

@media screen and (min-width: 325px) {
  .main-heading {
    font-size: clamp(52.5px, 3.75rem, 67.5px);
  }

  .tagline {
    font-size: clamp(17.856px, 1.116rem, 20.088px);
  }
}

@media screen and (min-width: 350px) {
  .main-heading {
    font-size: clamp(56px, 4rem, 68px);
  }

  .tagline {
    font-size: clamp(20px, 1.25rem, 21.25px);
  }
}

@media screen and (min-width: 400px) {
  header {
    margin-bottom: 50px;
  }

  .main-heading {
    font-size: clamp(67.5px, 4.5rem, 85.5px);
  }
}

@media screen and (min-width: 435px) {
  header {
    margin-top: 20px;
  }

  .main-heading {
    font-size: clamp(41.25px, 2.75rem, 44px);
  }

  .tagline {
    font-size: clamp(14.3px, 1.1rem, 17.6px);
  }
}

@media screen and (min-width: 480px) {
  .tagline {
    font-size: clamp(18px, 1.2rem, 19.2px);
  }
}

@media screen and (min-width: 525px) {
  .main-heading {
    font-size: clamp(49px, 3.5rem, 56px);
  }

  .tagline span {
    display: block;
  }
}

@media screen and (min-width: 700px) {
  header {
    margin-top: 60px;
  }

  .main-heading {
    font-size: clamp(59.5px, 4.25rem, 72.25px);
  }

  .tagline {
    font-size: clamp(16.25px, 1.25rem, 22.5px);
  }
}

@media screen and (min-width: 1100px) {
  header {
    margin-bottom: 60px;
  }

  .main-heading {
    font-size: clamp(55.25px, 4.25rem, 76.5px);
  }

  .tagline {
    font-size: clamp(13.75px, 1.25rem, 22.5px);
  }

  .tagline span {
    display: inline;
  }
}

/* PasswordGenerator */
main {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 800px;
  margin: 0 auto;
}

.display-container,
.strength-container,
.configuration-options-container,
.FAQs-container {
  width: 95vw;
  max-width: 620px;
}

.display-container,
.configuration-options-container {
  border-radius: 5px;
}

.display-container,
.meter-container,
.configuration-options-container {
  background-color: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

@media screen and (min-width: 525px) and (max-width: 699px) {
  .display-container,
  .strength-container,
  .configuration-options-container {
    max-width: 508px;
  }
}

/* Display */
.display-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 10px;
  margin-bottom: 20px;

  background-color: white;
}

@media screen and (min-width: 700px) {
  .display-container {
    margin-bottom: 30px;
  }
}

output {
  overflow: hidden;

  font-size: clamp(18.2px, 1.4rem, 30.8px);
  font-weight: 500;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

@media screen and (min-width: 400px) {
  output {
    font-size: clamp(21px, 1.75rem, 40.25px);
  }
}

.action-buttons-container {
  display: flex;
  align-items: center;

  font-size: 0px;
}

button {
  border: transparent;
  padding: 1px 6px;
  border-radius: 2px;

  color: #2c3e50;
  background-color: white;

  cursor: pointer;
}

button:focus-visible {
  outline: solid 2px black;
}

.regenerate-button {
  margin-right: 2px;
}

.regenerate-button svg {
  width: 32px;
  height: 32px;

  transition: transform 1s ease;

  stroke: #2c3e50;
}

.copy-button {
  transition: transform 0.1s ease;
}

.copy-button:active {
  transform: translateY(2px);
}

.copy-button svg {
  width: 24px;
  height: 24px;

  fill: #2c3e50;
}

@media screen and (min-width: 300px) {
  .regenerate-button svg {
    width: 40px;
    height: 40px;
  }

  .copy-button svg {
    width: 30px;
    height: 30px;
  }
}

/* Error */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  border: 1px solid rgb(255, 143, 143);
  border-radius: 8px;

  background-color: #ffadad;

  white-space: pre-wrap;
}

.error-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  font-size: 24px;
  text-align: center;

  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(255, 61, 61);
}

.error-text {
  display: none;

  color: rgb(150, 28, 28);
}

@media screen and (min-width: 250px) {
  .error-container {
    justify-content: center;

    padding: 5px;
  }

  .error-circle {
    width: 50%;
    max-width: 30px;
    margin-right: 5px;
  }

  .error-text {
    display: block;

    font-size: clamp(11.578125px, 0.890625rem, 14.25px);
  }
}

@media screen and (min-width: 290px) {
  .error-container {
    max-width: 170px;
  }

  .error-circle {
    margin-right: 10px;
  }

  .error-text {
    font-size: clamp(15px, 1rem, 16px);
  }
}

@media screen and (min-width: 435px) {
  .error-container {
    max-width: 310px;

    padding: 15px;
  }

  .error-circle {
    width: 35px;
    max-width: 35px;
    height: 35px;

    font-size: 28px;
  }

  .error-text {
    font-size: clamp(14px, 1rem, 17px);
  }
}

/* Strength */
.strength-container {
  margin-bottom: 50px;
}

@media screen and (min-width: 700px) {
  .strength-container {
    margin-bottom: 70px;
  }
}

.strength-header {
  margin-bottom: 5px;

  font-size: clamp(16.5px, 1.1rem, 22px);
  font-weight: 700;
}

.strength-text {
  font-size: clamp(18px, 1.2rem, 24px);
  font-weight: 900;
}

@media screen and (min-width: 250px) {
  .strength-header {
    font-size: clamp(18px, 1.2rem, 24px);
  }

  .strength-text {
    font-size: clamp(18.2px, 1.3rem, 24.7px);
  }
}

@media screen and (min-width: 325px) {
  .strength-header {
    font-size: clamp(18.2px, 1.4rem, 26.6px);
  }

  .strength-text {
    font-size: clamp(19.5px, 1.5rem, 28.5px);
  }
}

@media screen and (min-width: 435px) {
  .strength-header {
    font-size: clamp(18px, 1.2rem, 24px);
  }

  .strength-text {
    font-size: clamp(18.2px, 1.3rem, 24.7px);
  }
}

@media screen and (min-width: 525px) {
  .strength-header {
    font-size: clamp(18.2px, 1.3rem, 24.7px);
  }

  .strength-text {
    font-size: clamp(19.6px, 1.4rem, 26.6px);
  }
}

@media screen and (min-width: 700px) {
  .strength-header {
    font-size: clamp(18.2px, 1.4rem, 26.6px);
  }

  .strength-text {
    font-size: clamp(19.5px, 1.5rem, 28.5px);
  }
}

.meter-container {
  width: 100%;
  height: 20px;
  border-radius: 12px;

  overflow: hidden;
}

.meter {
  height: 100%;
  border-radius: 12px;

  transition: width 0.65s ease;
}

.meter[strength="-1"] {
  width: 0%;
  background-color: rgb(194, 0, 0);
}

.meter[strength="0"] {
  width: 10%;
  background-color: rgba(219, 0, 0, 0.8);
}

.meter[strength="1"] {
  width: 25%;
  background-color: rgba(253, 0, 0, 0.8);
}

.meter[strength="2"] {
  width: 50%;
  background-color: rgba(245, 245, 0, 0.7);
}

.meter[strength="3"] {
  width: 75%;
  background-color: rgba(0, 172, 0, 0.9);
}

.meter[strength="4"] {
  width: 102%;
  background-color: rgba(0, 105, 0, 0.9);
}

/* Configuration */
:root {
  --settings-theme: #f97316;
}

.configuration-options-container {
  padding-top: 20px;
}

@media screen and (min-width: 700px) {
  .configuration-options-container {
    padding-top: 30px;
  }
}

.configuration-header {
  margin-bottom: 5px;

  font-size: clamp(24px, 1.6rem, 28.8px);
  font-weight: 700;
}

@media screen and (min-width: 250px) {
  .configuration-header {
    font-size: clamp(25.2px, 1.8rem, 36px);
  }
}

@media screen and (min-width: 290px) {
  .configuration-header {
    font-size: clamp(26.6px, 1.9rem, 38px);
  }
}

@media screen and (min-width: 325px) {
  .configuration-header {
    font-size: clamp(29.4px, 2.1rem, 39.9px);
  }
}

@media screen and (min-width: 350px) {
  .configuration-header {
    font-size: clamp(33px, 2.2rem, 46.2px);
  }
}

@media screen and (min-width: 400px) {
  .configuration-header {
    font-size: clamp(33.6px, 2.4rem, 48px);
  }
}

@media screen and (min-width: 435px) {
  .configuration-header {
    font-size: clamp(26.6px, 1.9rem, 38px);
  }
}

@media screen and (min-width: 525px) {
  .configuration-header {
    font-size: clamp(33px, 2.2rem, 46.2px);
  }
}

@media screen and (min-width: 700px) {
  .configuration-header {
    font-size: clamp(32.2px, 2.3rem, 46px);
  }
}

/* Length */
.length-container {
  display: flex;
  align-items: center;

  margin: 0 10px 30px;
}

@media screen and (min-width: 700px) {
  .length-container {
    margin-bottom: 50px;
  }
}

.length-input {
  width: 55px;
  height: 40px;
  padding-left: 4px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 5px;

  font-size: clamp(13px, 1rem, 18px);
}

@media screen and (min-width: 400px) {
  .length-input {
    font-size: clamp(15.4px, 1.1rem, 19.8px);
  }
}

.length-input:focus-visible {
  outline: solid 2px black;
  outline-offset: -1px;
}

.length-slider {
  width: 100%;
  height: 10px;
  border-radius: 10px;

  appearance: none;
  -webkit-appearance: none;

  cursor: pointer;
}

.length-slider::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;

  background-color: var(--settings-theme);

  appearance: none;
  -webkit-appearance: none;
}

.length-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;

  background-color: var(--settings-theme);

  appearance: none;
  -webkit-appearance: none;
}

.length-slider:focus {
  outline: none;
}

.length-slider:focus-visible::-webkit-slider-thumb {
  outline: 3px solid black;
}

.length-slider:focus-visible::-moz-range-thumb {
  outline: 3px solid black;
}

/* Options */
.configuration-container {
  margin-bottom: 50px;
}

@media screen and (min-width: 435px) {
  .configuration-container {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 700px) {
  .configuration-container {
    margin-bottom: 100px;
  }
}

.fieldset-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 10px 0;
}

.fieldset-container > :not(:last-child) {
  margin-right: 20px;
}

fieldset {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

legend {
  margin-bottom: 5px;

  font-size: clamp(18.2px, 1.3rem, 23.4px);
  font-weight: 500;
}

@media screen and (min-width: 290px) {
  legend {
    font-size: clamp(19.6px, 1.4rem, 26.6px);
  }
}

@media screen and (min-width: 325px) {
  legend {
    font-size: clamp(19.5px, 1.5rem, 27px);
  }
}

@media screen and (min-width: 400px) {
  legend {
    font-size: clamp(22.4px, 1.6rem, 30.4px);
  }
}

@media screen and (min-width: 435px) {
  legend {
    font-size: clamp(19.6px, 1.4rem, 26.6px);
  }
}

@media screen and (min-width: 525px) {
  legend {
    font-size: clamp(19.5px, 1.5rem, 27px);
  }
}

@media screen and (min-width: 700px) {
  legend {
    font-size: clamp(22.4px, 1.6rem, 30.4px);
  }
}

label {
  display: flex;
  align-items: center;

  margin-bottom: 7px;

  font-size: clamp(14px, 1rem, 19px);
}

@media screen and (min-width: 290px) {
  label {
    font-size: clamp(16.8px, 1.2rem, 22.8px);
  }
}

@media screen and (min-width: 350px) {
  label {
    font-size: clamp(18.2px, 1.3rem, 23.4px);
  }
}

@media screen and (min-width: 435px) {
  label {
    font-size: clamp(16.8px, 1.2rem, 22.8px);
  }
}

@media screen and (min-width: 440px) {
  label {
    margin-bottom: 10px;
  }
}

label,
input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"] {
  margin-left: 0px;
  margin-right: 7px;
}

input[type="checkbox"] {
  position: relative;

  width: 27px;
  min-width: 27px;
  height: 27px;
  border: 1px solid #ced8e3;
  border-radius: 5px;

  appearance: none;
  -webkit-appearance: none;
  background-color: white;

  box-shadow: inset 0 1px 2px 0 rgb(0 0 0 / 25%);
}

input[type="checkbox"]:focus-visible {
  outline: 3px solid black;
  outline-offset: -1px;
}

input[type="checkbox"]:checked::before {
  content: "";

  position: absolute;
  left: -1px;
  top: -1px;

  height: 27px;
  width: 27px;

  border: 1px solid var(--settings-theme);
  border-radius: 5px;

  background-color: var(--settings-theme);

  box-shadow: inset 0 1px 2px 0 transparent;
}

input[type="checkbox"]:checked::after {
  content: "";

  position: absolute;
  left: 3px;
  top: 6px;

  width: 20px;
  height: 9px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;

  transform: rotate(-50deg);
}

/* FAQ */
.FAQs-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;
  margin-bottom: 30px;
}

.FAQs-title {
  margin-bottom: 20px;

  font-size: clamp(26.6px, 1.9rem, 32.3px);
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 325px) {
  .FAQs-title {
    font-size: clamp(34.5px, 2.3rem, 43.7px);
  }
}

@media screen and (min-width: 350px) {
  .FAQs-title {
    font-size: clamp(35px, 2.5rem, 52.5px);
  }
}

@media screen and (min-width: 400px) {
  .FAQs-title {
    font-size: clamp(37.8px, 2.7rem, 48.6px);
  }
}

@media screen and (min-width: 435px) {
  .FAQs-title {
    margin-bottom: 40px;

    font-size: clamp(30px, 2rem, 38px);
  }
}

@media screen and (min-width: 530px) {
  .FAQs-title {
    font-size: clamp(34.5px, 2.3rem, 43.7px);
  }
}

@media screen and (min-width: 700px) {
  .FAQs-title {
    font-size: clamp(35.1px, 2.7rem, 48.6px);
  }
}

.FAQ-container {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;

  outline: none;
}

.question:focus-visible {
  outline: none;
}

.question:focus-visible .plus {
  outline: 3px solid black;
  outline-offset: 10px;
}

.question-text {
  max-width: 85%;

  font-size: clamp(16.1px, 1.15rem, 19.55px);
  font-weight: 500;
}

@media screen and (min-width: 325px) {
  .question-text {
    font-size: clamp(17.5px, 1.25rem, 22.5px);
  }
}

@media screen and (min-width: 400px) {
  .question-text {
    font-size: clamp(18.2px, 1.4rem, 25.2px);
  }
}

@media screen and (min-width: 435px) {
  .question-text {
    max-width: 91%;
  }
}

@media screen and (min-width: 525px) {
  .question-text {
    font-size: clamp(19.5px, 1.3rem, 23.4px);
  }
}

.plus {
  position: relative;

  width: 15px;
  height: 5px;
  border-radius: 2px;
  margin-right: 5px;

  background-color: black;
}

.plus::after {
  content: "";

  position: absolute;
  top: -5px;
  right: 5px;

  width: 5px;
  height: 15px;
  border-radius: 2px;

  background-color: black;

  transition: transform 0.5s ease;
}

input:checked + .question .plus::after {
  transform: rotateZ(90deg);
}

.answer {
  height: 0px;

  opacity: 0;
  overflow: hidden;

  font-size: clamp(13.3px, 0.95rem, 17.1px);

  transition: all 0.5s ease;
}

.answer span {
  font-weight: 700;
}

@media screen and (min-width: 325px) {
  .answer {
    font-size: clamp(14px, 1rem, 19px);
  }
}

@media screen and (min-width: 350px) {
  .answer {
    font-size: clamp(16.2px, 1.08rem, 19.44px);
  }
}

@media screen and (min-width: 400px) {
  .answer {
    font-size: clamp(17.25px, 1.15rem, 20.7px);
  }
}

@media screen and (min-width: 700px) {
  .answer {
    font-size: clamp(18px, 1.2rem, 20.4px);
  }
}

.FAQ-container input {
  display: none;
}

input:checked ~ .answer {
  opacity: 1;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.do {
  margin-bottom: 30px;
}

.do-title,
.dont-title {
  display: flex;
  align-items: center;

  margin-bottom: 5px;

  font-size: clamp(24px, 1.5rem, 27px);
  font-weight: 700;
}

@media screen and (min-width: 325px) {
  .do-title,
  .dont-title {
    font-size: clamp(24px, 1.6rem, 33.6px);
  }
}

@media screen and (min-width: 350px) {
  .do-title,
  .dont-title {
    font-size: clamp(23.8px, 1.7rem, 39.1px);
  }
}

@media screen and (min-width: 400px) {
  .do-title,
  .dont-title {
    margin-bottom: 7px;

    font-size: clamp(30px, 2rem, 42px);
  }
}

.do-tick,
.dont-x {
  position: relative;

  display: inline-block;

  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
}

@media screen and (min-width: 400px) {
  .do-tick,
  .dont-x {
    width: 40px;
    height: 40px;
  }
}

.do-tick {
  background-color: rgb(0, 185, 0);
}

.dont-x {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(240, 0, 0);
}

.do-tick::after {
  content: "";

  position: absolute;
  left: 5px;
  top: 9px;

  width: 20px;
  height: 9px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;

  transform: rotate(-50deg);
}

@media screen and (min-width: 400px) {
  .do-tick::after {
    left: 7px;
    top: 12px;

    width: 25px;
    height: 11px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
  }
}

.dont-x svg {
  width: 27px;
  stroke: white;
}

@media screen and (min-width: 400px) {
  .dont-x svg {
    width: 35px;
    stroke: white;
  }
}

.do ul,
.dont ul {
  margin-left: 5px;
  padding-left: 20px;

  list-style: initial;
}

.do li,
.dont li {
  margin-bottom: 5px;
}

@media screen and (min-width: 400px) {
  .do li,
  .dont li {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 700px) {
  .do li,
  .dont li {
    margin-bottom: 15px;
  }
}
